<%= @game.player1.name %> vs <%= @game.player2.name %> <br/>
<%= @game.player2.name %> has <%= @game.player2.points %> points <br/>
<%= @game.player1.name %> has <%= @game.player1.points %> points <br/>
<a href="/attack">Attack</a>
